body {
    
}
#main-content {
    min-height: calc(100% - 150px); /* Die Höhe des Footers abziehen */
    display: flex;
    flex-direction: column;
    background: #a8d4d4;
    /* Fallback */
    animation: color 9s infinite linear;
    margin: 0px;
    height: 100%;
    font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
        Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
}
.navbar {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: rgb(255, 255, 255) !important;
    padding: 10px !important;
}

.h1 {
    font-size: 35px;
}

.containerCard {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    margin-top: 150px;
}

.quizCard {
    width: 600px;
}

.containerCardImg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
}

.card-img-top {
    width: 200px;
    height: 200px;
}

.card {
    margin: 8px;
}

.questionFooter {
    border-top: 1px solid rgba(0, 0, 0, 0.549);
    display: flex;
    justify-content: space-between;
    padding: 8px;
    margin: 8px;
    align-items: center;
}

.quizAnswer:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.0518);
}

.bg-success,
.bg-danger {
    color: white;
}

#endScreen {
    text-align: center;
}

#endScreen img {
    width: 100%;
}

.marginContainer {
    padding: 16px;
}

.containerEndProgressbar {
    padding-bottom: 16px;
}

.buttonRestart {
    display: flex;
    justify-content: center;
}

.disabledbutton {
    pointer-events: none;
}

/*Footer*/

footer {
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    padding: 80px;
    height: 150px;
    background-color: #ffffffe4;
    position: relative;
}
.Footer-Pos {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8.5rem;
    background-color: #e0e0e0e4;
    display: flex;
    align-self: center;
    justify-content: center;
}

.footer-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 850px) {
    footer {
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        display: flex;
        height: 200px;
        word-wrap: break-word;
    }
    .law {
        margin-top: 16px;
        word-wrap: break-word;
    }
    .socialMedia {
        margin-bottom: 16px;
        margin-top: 16px;
    }
}
/*
.add-player-button {
    position: fixed;
    right: 20px;
    bottom: 350px;
    background-color: #0d6efd;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;  
  }
  
  .add-player-button:hover {
    background-color: #0d6efd;
  }
  .share-button {
    position: fixed;
    right: 20px;
    bottom: 250px;  
    background-color: #0d6efd;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
  }
  
  .share-button:hover {
    background-color: #0d6efd;
  }
  
  .top-right {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    gap: 10px;  
  }*/
  
  .top-right {
    position: fixed;
    top: 100px; /* Optional: Erhöht den Abstand der Buttons von der oberen Kante des Bildschirms */
    right: 100px; /* Optional: Erhöht den Abstand der Buttons von der rechten Kante des Bildschirms */
    display: flex;
    gap: 10px; /* Der Abstand zwischen den Buttons */
  }
  
  .button {
    background-color: #0d6efd;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;  /* To ensure the button is above all other elements */
  }
  
  .button:hover {
    background-color: #0d6efd;
  }
  