<div class="dialog-container">
  <h1 mat-dialog-title class="dialog-title">
    Lade deine Freunde zum Quiz ein!
  </h1>

  <p class="dialog-message">
    Klicken Sie auf die Schaltfläche, um den Link zu kopieren und ihn mit Ihren
    Freunden zu teilen
  </p>

  <span [class.d-none]="!isCopied" id="message" class="dialog-message"
    >In die Zwischenablage kopiert</span
  >

  <mat-dialog-content class="dialog-content share">
    <button (click)="getURL()" mat-flat-button matTooltip="copy url">
      <mat-icon class="material-symbols-outlined"> content_copy </mat-icon>
    </button>
  </mat-dialog-content>
</div>
