.dialog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dialog-title,
.dialog-message,
.dialog-content {
    text-align: center;
    color: white;
}

.d-none {
    display: none;
}
