form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%; /* Höhe des Bildbereichs auf 50% setzen */
    max-height: 550px; /* Maximale Höhe des Bildbereichs auf 450px setzen */
}

.image-container img {
    max-width: 100%; /* An die Bildschirmbreite anpassen */
    max-height: 100%; /* An die Bildschirmhöhe anpassen */
    max-width: 550px; /* Maximale Breite des Bildes auf 450px begrenzen */
    max-height: 550px; /* Maximale Höhe des Bildes auf 450px begrenzen */
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 0%; /* Höhe des Login-Bereichs auf 50% setzen */
}
h1 {
    font-size: 48px;
    margin-bottom: 20px;
}
.button {
    background-color: #0d6efd;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000; /* To ensure the button is above all other elements */
}

.button:hover {
    background-color: #0d6efd;
}
#login-form input {
    width: 100%;
    max-width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: 0.3s;
    width: 500px;
}

#login-form input:focus {
    border: 2px solid #4caf50;
}

#login-btn {
    background-color: #4caf50;
    color: white;
    font-size: 24px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.3s;
    width: 100%;
    max-width: 300px;
}

#login-btn:hover {
    background-color: #45a049;
}

@media (max-width: 768px) {
    .background {
        height: 40%;
    }

    .login-container {
        height: 60%;
    }
}

@media (max-width: 480px) {
    .background {
        height: 30%;
    }

    .login-container {
        height: 70%;
    }

    h1 {
        font-size: 32px;
    }

    #login-form input {
        font-size: 16px;
    }

    #login-btn {
        font-size: 18px;
    }
}
