<div class="image-container">
  <img
    src="assets/img/IU-Internationale-Hochschule.png"
    alt="IU-Internationale-Hochschule"
  />
</div>

<div class="login-container">
  <h1>Quiz App</h1>

  <form id="login-form" (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <input
      type="text"
      [(ngModel)]="username"
      name="username"
      placeholder="Benutzername"
      required
    />
    <input
      type="password"
      [(ngModel)]="password"
      name="password"
      placeholder="Passwort"
      required
    />
    <button class="button" type="submit">Login</button>
  </form>
</div>
