<h1 mat-dialog-title>Neuen Spieler hinzufügen</h1>
<div mat-dialog-content>
  <p>Bitte füge einen neuen Spieler hinzu!</p>
  <mat-form-field appearance="fill">
    <mat-label>Neuer Spieler...</mat-label>
    <input matInput [(ngModel)]="name" />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Nein Danke</button>
  <!--Button can only be clicked if the length of the input field with the var name is greater than 0-->
  <button
    mat-button
    [mat-dialog-close]="name"
    [disabled]="name.length == 0"
    cdkFocusInitial
    (click)="onAddPlayer()"
  >
    Ok
  </button>
</div>
