<h1 mat-dialog-title>Neue Frage zum Fragenkatalog hinzufügen</h1>
<div mat-dialog-content class="pos">
  <p>
    Bitte gib hier deinen Vorschlag für eine neue Frage und vier mögliche
    Antworten ein!
  </p>
  <mat-form-field appearance="fill">
    <mat-label>Neue Frage...</mat-label>
    <input matInput [(ngModel)]="question" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Antwort 1...</mat-label>
    <input matInput [(ngModel)]="answer1" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Antwort 2...</mat-label>
    <input matInput [(ngModel)]="answer2" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Antwort 3...</mat-label>
    <input matInput [(ngModel)]="answer3" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Antwort 4...</mat-label>
    <input matInput [(ngModel)]="answer4" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Richtige Antwort (Zahl von 1 bis 4)...</mat-label>
    <input matInput type="number" min="1" max="4" [(ngModel)]="rightAnswer" />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Nein Danke</button>
  <button
    mat-button
    [mat-dialog-close]="{
      question: question,
      answer1: answer1,
      answer2: answer2,
      answer3: answer3,
      answer4: answer4,
      rightAnswer: rightAnswer
    }"
    [disabled]="
      question.length == 0 ||
      answer1.length == 0 ||
      answer2.length == 0 ||
      answer3.length == 0 ||
      answer4.length == 0 ||
      rightAnswer == 0
    "
    cdkFocusInitial
    (click)="addQuestion()"
  >
    Anfrage Senden
  </button>
</div>
